---
const posts = [
  {
    date: "2024-04-24",
    category: "Certificacion",
    image: "assets/img/certificaciones/3.webp",
    title: "Certificado ISO-9001",
    description:
      "ISO 9001 es una norma internacional que especifica los requisitos para un sistema de gestión de la calidad, enfocándose en la eficiencia de los procesos y la satisfacción del cliente.",
    file: "assets/docs/9001.pdf",
  },
  {
    date: "2024-04-24",
    category: "Certificacion",
    image: "assets/img/certificaciones/1.webp",
    title: "Certificado ISO-14001",
    description:
      "ISO 14001 establece los requisitos para un sistema de gestión ambiental, ayudando a las organizaciones a mejorar su desempeño ambiental y reducir el impacto negativo en el medio ambiente.",
    file: "assets/docs/14001.pdf",
  },
  {
    date: "2024-04-24",
    category: "Certificacion",
    image: "assets/img/certificaciones/2.webp",
    title: "Certificado ISO-45001",
    description:
      "ISO 45001 es una norma internacional que especifica los requisitos para un sistema de gestión de la salud y seguridad en el trabajo, destinada a mejorar la seguridad de los trabajadores y reducir riesgos laborales.",
    file: "assets/docs/45001.pdf",
  },
  // Agrega más objetos de post aquí
];
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div
    class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      posts.map((post) => (
        <article class="flex flex-col items-start justify-between">
          <div class="relative w-full">
            <a href={post.file}>
              <img src={post.image} alt="" class="" />
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
            </a>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime={post.date} class="text-gray-700">
                {post.date}
              </time>
              <a
                href={post.file}
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
              >
                {post.category}
              </a>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                <a href={post.file}>
                  <span class="absolute inset-0" />
                  {post.title}
                </a>
              </h3>
              <p class="mt-5 text-justify text-sm/6 text-gray-600 ">
                {post.description}
              </p>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</div>
