---
const logos = [
  {
    src: "https://tailwindui.com/plus/img/logos/transistor-logo-gray-900.svg",
    alt: "Transistor",
  },
  {
    src: "https://tailwindui.com/plus/img/logos/reform-logo-gray-900.svg",
    alt: "Reform",
  },
  {
    src: "https://tailwindui.com/plus/img/logos/tuple-logo-gray-900.svg",
    alt: "Tuple",
  },
  {
    src: "https://tailwindui.com/plus/img/logos/savvycal-logo-gray-900.svg",
    alt: "SavvyCal",
  },
  {
    src: "https://tailwindui.com/plus/img/logos/statamic-logo-gray-900.svg",
    alt: "Statamic",
  },
];

import Container from "../components/Container/Container.astro";
import TopSection from "../components/TopSection/TopSection.astro";
import Layout from "../layouts/Layout.astro";

const topTitle = "Empresas que confían en nosotros";

const title = "Nuestros Clientes";

const descripcion =
  "Nos enorgullece colaborar con empresas líderes en los sectores de Energía, Oil & Gas y Minería. A lo largo de más de 20 años, hemos establecido relaciones sólidas basadas en la confianza y en un compromiso inquebrantable con la excelencia en cada proyecto.";
---

<Layout>
  <main>
    <TopSection title={title} description={descripcion} topTitle={topTitle} />
    <Container>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <h2 class="text-lg/8 font-semibold text-gray-900">
            Empresas que nos eligen:
          </h2>
          <div
            class="mx-auto mt-10 grid grid-cols-4 items-start gap-x-8 gap-y-10 sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:grid-cols-5"
          >
            {
              logos.map((logo) => (
                <img
                  class="col-span-2 max-h-12 w-full object-contain object-left lg:col-span-1"
                  src={logo.src}
                  alt={logo.alt}
                  width="158"
                  height="48"
                />
              ))
            }
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>
