---
import AboutUs from "../components/AboutUs/AboutUs.astro";
import OurTeam from "../components/AboutUs/OurTeam.astro";
import RH from "../components/AboutUs/RH.astro";
import Container from "../components/Container/Container.astro";
import TopSection from "../components/TopSection/TopSection.astro";
import Layout from "../layouts/Layout.astro";

const topTitle = "Conoce más sobre nosotros";
const title = "Quiénes Somos";
const descripcion =
  "En TECNA CORP, estamos comprometidos con la excelencia en los sectores de Energía, Oil & Gas y Minería. Con más de 20 años de experiencia en Latinoamérica, nuestra misión es ofrecer soluciones integrales de ingeniería y tecnología, adaptadas a las necesidades de cada cliente y proyecto.";
---

<Layout title="Sobre Nosotros">
  <main class="overflow-hidden">
    <TopSection title={title} description={descripcion} topTitle={topTitle} />
    <Container pBottom={false} pTop={false} hr={true}>
      <AboutUs />
    </Container>
    <!-- <Container pTop={true}>
      <OurTeam />
    </Container> -->
    <Container pBottom={true} pTop={true}>
      <RH />
    </Container>
  </main>
</Layout>
