---
import CertificacionesBlog from "../components/Certificaciones/CertificacionesBlog.astro";
import Cssa from "../components/Certificaciones/Cssa.astro";
import Container from "../components/Container/Container.astro";
import TopSection from "../components/TopSection/TopSection.astro";
import Layout from "../layouts/Layout.astro";

const topTitle =
  "Compromiso con la Calidad y la Seguridad";
const title = "Nuestras Certificaciones";
const descripcion =
  "TECNA CORP cuenta con certificaciones internacionales, incluyendo ISO 9001 para gesti칩n de calidad, ISO 14001 para gesti칩n ambiental y ISO 45001 para seguridad y salud ocupacional. Estas certificaciones reflejan nuestro compromiso con los m치s altos est치ndares en cada proyecto.";
---

<Layout title="Certificaciones">
  <main class="overflow-hidden">
    <TopSection
      title={title}
      description={descripcion}
      topTitle={topTitle}
    />
    <Container pBottom={true}>
      <CertificacionesBlog />
    </Container>
    <Container pBottom={true}>
      <Cssa />
    </Container>
  </main>
</Layout>
