---
const contactInfo = [
  {
    title: "Contacto Corporativo",
    email: "contacto@tecna-corp.com",
    phone: "+591 3 336 2263",
    phone2: "+511 680 6897",
  },
  {
    title: "Contacto Comercial",
    email: "comercial@tecna-corp.com",
    phone: "+511 680 6897",
    phone2: "+591 3 336 2263",
  },
  {
    title: "Website",
    email: "www.tecna-corp.com",
    linkedin: "https://ar.linkedin.com/company/tecna-corp",
    phone: null,
  },
];

const locations = [
  {
    city: "Sede Corporativa - Bolivia",
    addressLine1: "TECNA BOLIVIA",
    addressLine2:
      "Torre ALAS I, Av. Las Ramblas, Piso 10, Santa Cruz de la Sierra, Barrio Equipetrol Norte, BO",
  },
  {
    city: "Filial - Perú",
    addressLine1: "LATINTECNA S.A.",
    addressLine2: "Calle La Habana 192, San Isidro - Lima, Lima, PE",
  },
  {
    city: "Filial - Ecuador",
    addressLine1: "TECNA CORP del ECUADOR",
    addressLine2:
      "Av Luis Cordero E12-182 y Valladolid, Edif. Iturralde, P8, Quito, EC",
  },
  {
    city: "Sede - Argentina",
    addressLine1: "LATINTECNA S.A.",
    addressLine2:
      "Avª Alicia Moreau de Justo 2030, 1er piso Of. 120, CABA, 1107, AR",
  },
  {
    city: "Sede - España",
    addressLine1: "TECNA CORP SL.",
    addressLine2:
      "Paseo de la Castellana, num 144 ESC. 1, planta 6, 28046 Madrid, ES",
  },
];
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div
    class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none"
  >
    <!-- Sección de Contacto -->
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
      <div>
        <h2
          class="text-pretty text-4xl font-semibold tracking-tight text-gray-900"
        >
          Ponte en contacto
        </h2>
        <p class="mt-4 text-base/7 text-gray-600 text-justify">
          Si tienes alguna pregunta o necesitas información adicional sobre
          nuestros servicios, no dudes en comunicarte con nosotros. Nuestro
          equipo está listo para ayudarte a resolver tus dudas y brindarte el
          soporte que necesitas.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
        {
          contactInfo.map((contact) => (
            <div class="rounded-2xl bg-gray-200 p-10">
              <h3 class="text-base/7 font-semibold text-gray-900">
                {contact.title}
              </h3>
              <dl class="mt-3 space-y-1 text-sm/6 text-gray-600">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a
                      class="font-semibold text-indigo-600"
                      href={`mailto:${contact.email}`}
                    >
                      {contact.email}
                    </a>
                  </dd>
                  <dd>
                    <a
                      class="font-semibold text-indigo-600"
                      href={contact.linkedin}
                    >
                      {contact.linkedin && <span>linkedin</span>}
                    </a>
                  </dd>
                </div>
                {contact.phone && (
                  <div class="mt-1">
                    <dt class="sr-only">Phone number</dt>
                    <dd>{contact.phone}</dd>
                    <dd>{contact.phone2}</dd>
                  </div>
                )}
              </dl>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Sección de Ubicaciones -->
    <div class="grid grid-cols-1 gap-10 pt-16 lg:grid-cols-3">
      <div>
        <h2
          class="text-pretty text-4xl font-semibold tracking-tight text-gray-900"
        >
          Nuestras ubicaciones
        </h2>
        <p class="mt-4 text-base/7 text-gray-600 text-justify">
          Con presencia en varios países de Latinoamérica y Europa, TECNA CORP
          está aquí para apoyarte en cada proyecto. Encuéntranos en Bolivia,
          Perú, Ecuador, Argentina, y España, donde cada una de nuestras sedes y
          filiales está preparada para ofrecer soluciones integrales en los
          sectores de Energía, Oil & Gas y Minería.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
        {
          locations.map((location) => (
            <div class="rounded-2xl bg-gray-200 p-10">
              <h3 class="text-base/7 font-semibold text-gray-900">
                {location.city}
              </h3>
              <address class="mt-3 space-y-1 text-sm/6 not-italic text-gray-600">
                <p>{location.addressLine1}</p>
                <p>{location.addressLine2}</p>
              </address>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
