---
import { footerData } from "./footerData";
import { Icon } from "astro-icon/components";

const { companyInfo, socialLinks, sections, legalText } = footerData;
---

<footer class="bg-gray-300 border border-gray-400">
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <!-- Información de la empresa -->
      <div class="space-y-8">
        <img class="h-9" src={companyInfo.logo} alt="Nombre de la empresa" />
        <p class="text-sm text-gray-600">
          {companyInfo.description}
        </p>
        <!-- Enlaces a redes sociales -->
        <div class="flex gap-x-6 items-center">
          {
            socialLinks.map((social) => (
              <a href={social.href} class="text-gray-600 hover:text-gray-800">
                <span class="sr-only">{social.name}</span>
                <Icon name={social.icon} class="h-6 w-6" aria-hidden="true" />
              </a>
            ))
          }
        </div>
      </div>

      <!-- Secciones del pie de página -->
      <div
        class="mt-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 xl:col-span-2 xl:mt-0"
      >
        {
          sections.map((section) => (
            <div>
              <h2 class="text-sm font-semibold text-gray-900">
                {section.title}
              </h2>
              <ul role="list" class="mt-6 space-y-4">
                {section.links.map((link) => (
                  <li class="whitespace-nowrap overflow-hidden text-ellipsis">
                    <a
                      href={link.href}
                      class="text-sm text-gray-600 hover:text-gray-900"
                    >
                      {link.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Texto legal -->
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm text-gray-600">
        {legalText}
      </p>
    </div>
  </div>
</footer>
